<% layout('layouts/boilerplate') %>
    <style>
        .form-control, .input-group {
            max-width: 100%;
        }
        .narrow-input {
            max-width: 300px;
        }
    </style>
    <div class="row">
       <h1 class="text-center">New AdventurePlace</h1> 
       <div class="col-md-6 offset-md-3">
        <form action="/adventureplaces" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="adventureplace[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
               <label class="form-label" for="location">Location</label>
               <input class="form-control" type="text" id="location" name="adventureplace[location]" required>
               <div class="valid-feedback">
                Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image(s)</label>
                <input class="form-control" type="file" id="image" name="image" multiple required>
                <div class="valid-feedback">
                    Looks good!
            </div>
            </div>
             <div class="mb-3">
                <label class="form-label" for="price">AdventurePlace Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">INR</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" 
                    aria-describedby="price-label" name="adventureplace[price]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
             </div>
             <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="adventureplace[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
             </div>
            <div class="mb-3">
                <button class="btn btn-success">Add AdventurePlace</button>
            </div>
           </form>
           <a href="/adventureplaces">All AdventurePlaces</a>
       
       </div>
    </div>
